############################################
#      STYLE FOR NAUTILUS ELEMENTARY       #
############################################

style "nautilus_main"
{
    GtkMenuBar ::shadow-type = GTK_SHADOW_NONE
}

style "nautilus_breadcrumbs"
{
    fg[NORMAL]      = @bg_color_dark
    fg[ACTIVE]      = @bg_color_dark
    fg[PRELIGHT]    = @bg_color_dark
    fg[ACTIVE]      = @bg_color_dark
    fg[INSENSITIVE] = shade (1.12,@bg_color_dark)

    xthickness = 6
    ythickness = 5

    GtkButton   ::inner-border	= {0, 0, 0, 0}

    engine "pixmap"
    {
        image
        {
            function       = BOX
            recolorable     = TRUE
            state           = PRELIGHT
            file            = "/Nautilus/breadcrumb_prelight.png"
            border          = {3,13,3,3}
            stretch         = TRUE
        }

        image
        {
            function        = BOX
            recolorable     = TRUE
            state           = NORMAL
            file            = "/Nautilus/breadcrumb_normal.png"
            border          = {3,13,3,3 }
            stretch         = TRUE
        }

        image
        {
            function        = BOX
            recolorable     = TRUE
            state           = ACTIVE
            file            = "/Nautilus/breadcrumb_normal.png"
            border          = {3,13,3,3}
            stretch         = TRUE
        }

        image
        {
            function        = BOX
            recolorable     = TRUE
            state           = INSENSITIVE
            file            = "/Nautilus/breadcrumb_prelight.png"
            border          = {0,0,0,0}
            stretch         = TRUE
        } 

        image
        {
            function        = BOX
            recolorable     = TRUE
            state           = SELECTED
            file            = "/Nautilus/breadcrumb_normal.png"
            border          = {3,13,3,3}
            stretch         = TRUE
        }
    }
}

style "nautilus_left_slider"
{
    fg[NORMAL]    = @bg_color_dark
    fg[PRELIGHT]  = shade (1.15, @bg_color_dark)

    xthickness = 0
    ythickness = 5

    engine "pixmap"
    {
        image
        {
            function       = BOX
            file            = "/Nautilus/left_slider_normal.png"
            border          = {0,1,3,3}
            stretch         = TRUE
        }
    }
}

style "nautilus_right_slider"
{
    fg[NORMAL]    = @bg_color_dark
    fg[PRELIGHT]  = shade (1.15, @bg_color_dark)

    xthickness = 0
    ythickness = 5
	
    engine "pixmap"
    {
        image
        {
            function       = BOX
            file            = "/Nautilus/right_slider_normal.png"
            border          = {0,0,3,3}
            stretch         = TRUE
        }
    }
}

style "nautilus_mode_button" {
	engine "pixmap" {	
		image { function = BOX state = PRELIGHT    file = "/Button/mode_prelight.png" border = { 3, 13, 3, 3 } stretch = TRUE }
		image { function = BOX state = NORMAL      file = "/Button/mode_normal.png"   border = { 3, 13, 3, 3 } stretch = TRUE }
	    image { function = BOX state = ACTIVE      file = "/Button/mode_pressed.png"  border = { 3, 13, 3, 3 } stretch = TRUE }  
		image { function = BOX state = INSENSITIVE file = "/Button/mode_normal.png"   border = { 3, 13, 3, 3 } stretch = TRUE } 
	    image { function = BOX state = SELECTED    file	= "/Button/mode_pressed.png"  border = { 3, 13, 3, 3 } stretch = TRUE }
	}
}

style "nautilus_sidebar" = "theme_sidebar"
{
    GtkTreeView::horizontal_separator	= 12
    GtkTreeView::vertical_separator		= 4
}

style "nautilus_statusbar"
{
    bg[NORMAL]      = @base_color

	fg[NORMAL]	    = mix (0.4, @base_color, @text_color)
	fg[PRELIGHT]	= mix (0.4, @base_color, @text_color)
	fg[SELECTED]	= mix (0.4, @base_color, @text_color)
	fg[ACTIVE]	    = mix (0.4, @base_color, @text_color)
	fg[INSENSITIVE]	= mix (0.4, @base_color, @text_color)
    
    engine "murrine"
    {
        contrast = 0.0
    }
}


style "nautilus_scale"
{
	GtkRange		::trough-border			        = 0
	GtkScale		::trough-side-details			= 0
	
	engine "pixmap" 
	{
		image 
		{
			function		= BOX
			detail			= "trough"
			file			= "/Range/trough.png"
			border			= { 10, 10, 5, 15 }
		}	
		image 
		{
			function		= SLIDER
			overlay_file		= "/Range/slider.png"
			overlay_stretch		= FALSE
    }
  }
}

style "nautilus_window_base"
{
	bg[NORMAL]	= @base_color
}

style "nautilus_treeview" = "elementary_treeview"
{
    GtkTreeView ::even_row_color = @base_color
    GtkTreeView ::odd_row_color  = shade (0.97, @base_color)
    
    engine "murrine"
    {
        listviewstyle = 2
    }
}


widget_class    "*Nautilus*"                        style "nautilus_main"
widget_class    "*Nautilus*<GtkToolbar>*"           style "dark_toolbar"
widget		    "*Nautilus*Toolbar*Entry*"          style "dark_toolbar_entry"
widget		    "*NautilusNavigationWindow"		    style "nautilus_window_base"
widget_class    "*Nautilus*<GtkTreeView>"           style "nautilus_treeview"
widget          "*Nautilus*Splitter"                style "pixmap_sidebar_handle_left"
widget_class	"*Nautilus*View"			        style "thin"
widget_class    "*NautilusSidePane*"                style "nautilus_sidebar"
widget_class    "*Nautilus*Statusbar*"              style "nautilus_statusbar"
widget_class	"*Nautilus*Scale*"			        style "nautilus_scale"
widget_class	"*Nautilus*Notebook"			    style "thin"
widget_class    "*NautilusPathBar.*ToggleButton*"   style "nautilus_breadcrumbs" 
widget          "*Nautilus*left_slider*"            style "nautilus_left_slider" 
widget          "*Nautilus*right_slider*"           style "nautilus_right_slider"
widget          "*Nautilus*ModeButton*"             style "nautilus_mode_button"
