/**************
 * ComboBoxes *
 **************/

GtkComboBox {
    padding: 1 2;
    -GtkWidget-focus-padding: 0;
    -GtkWidget-focus-line-width: 0;

    -GtkComboBox-arrow-scaling: 0.5;
    -GtkComboBox-shadow-type: none;
}

GtkComboBox .separator {
    /* always disable separators */
    -GtkWidget-wide-separators: true;
    -GtkWidget-horizontal-separator: 0;
    -GtkWidget-vertical-separator: 0;
}

GtkComboBox .entry,
GtkComboBox .entry:nth-child(first) {
    border-width: 1 0 1 1;
    border-radius: 3 0 0 3;

    -unico-outer-stroke-width: 1 0 1 1;
}

/* for RTL languages */
GtkComboBox .entry:nth-child(last) {
    border-width: 1 1 1 0;
    border-radius: 0 3 3 0;
    border-image-width: 2 2 2 0;
}


GtkComboBox .button {
    color: @internal_element_color;
    padding: 1 3 1 6;
}

GtkComboBox .button *:prelight {
    color: @theme_text_color;
}

.primary-toolbar GtkComboBox.combobox-entry .button,
.primary-toolbar GtkComboBox.combobox-entry .button:hover,
.primary-toolbar GtkComboBox.combobox-entry .button:active,
.primary-toolbar GtkComboBox.combobox-entry .button:insensitive,
.primary-toolbar GtkComboBox.combobox-entry .button:nth-child(last),
GtkComboBox.combobox-entry .button,
GtkComboBox.combobox-entry .button:hover,
GtkComboBox.combobox-entry .button:active,
GtkComboBox.combobox-entry .button:insensitive,
GtkComboBox.combobox-entry .button:nth-child(last) {
    border-top-left-radius: 	0;
    border-bottom-left-radius: 	0;
    border-top-right-radius: 	3;
    border-bottom-right-radius: 3;

    border-width: 1 1 1 1;
    padding: 2 3;

    -unico-outer-stroke-width: 1 1 1 0;
}


/* for RTL languages */
.primary-toolbar GtkComboBox.combobox-entry .button:nth-child(first),
GtkComboBox.combobox-entry .button:nth-child(first) {
    border-width: 1 0 1 1;
    border-radius: 3 0 0 3;
}


.primary-toolbar GtkComboBox.combobox-entry .button *:active,
.primary-toolbar GtkComboBox.combobox-entry .button *:prelight,
GtkComboBox.combobox-entry .button *:active,
GtkComboBox.combobox-entry .button *:prelight {
    color: @internal_element_prelight;
}
