/************
 * notebook *
 ************/
.notebook {
	background-color: shade (@theme_bg_color, 1.08);
	background-image: none;
	border-radius: 4px;
	padding: 2px;

	-unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.26), 0.3);
	-unico-inner-stroke-gradient: none;
}

.notebook tab {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.98)),
		to (shade (@theme_bg_color, 0.90)));
	padding: 2px 2px 0 2px;

	border-radius: 4;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.90)),
		to (shade (@theme_bg_color, 0.80)));
	-unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.15), 0.34);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1px;
	-unico-outer-stroke-color: @transparent;
	-unico-outer-stroke-gradient: none;
	-unico-outer-stroke-width: 1px;
}

.notebook tab:active {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 1.15)),
		to (shade (@theme_bg_color, 1.08)));

	border-radius: 4;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@theme_bg_color, 0.7)),
		to (shade (@theme_bg_color, 0.7)));
	-unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.28), 0.34);
	color: @theme_fg_color;
}

.notebook tab .button,
.notebook tab .button:hover,
.notebook tab .button:hover:active {
	padding: 0;
    border-style: none;
    border-image: none;
    background-color: alpha (@theme_bg_color, 0.1);
    background-image: none;
}

.notebook GtkDrawingArea {
	background-color: shade (@theme_bg_color, 1.02);
}

.notebook tab GtkLabel:active {
	color: @theme_fg_color;
}

.notebook tab GtkLabel {
	color: @theme_fg_color;
}

.notebook tab.top:active {
	padding: 3px 7px 1px 7px;
}

.notebook tab.top {
	padding: 2px 5px 0 5px;
}

.notebook tab.right:active {
	padding: 4px 6px 4px 1px;
}

.notebook tab.right {
	padding: 3px 4px 3px 0;
}

.notebook tab.bottom:active {
	padding: 1px 7px 4px 7px;
}

.notebook tab.bottom {
	padding: 0 5px 3px 5px;
}

.notebook tab.left:active {
	padding: 4px 1px 4px 6px;
}

.notebook tab.left {
	padding: 3px 0 3px 4px;
}

/******************
 * pane separator *
 ******************/
.sidebar .pane-separator,
.pane-separator {
	background-color: @transparent;
	border-color: shade (@bg_color, 0.84);

	-unico-border-gradient: none;
	-unico-inner-stroke-color: shade (@bg_color, 1.1);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1;
}
