/************
 * expander *
 ************/
.expander {
	color: @fg_color;
}

/*********
 * frame *
 *********/
.frame {
	border-radius: 2;
	-unico-outer-stroke-width: 0;
}

/************
 * iconview *
 ************/
GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.0)),
		to (shade (@selected_bg_color, 0.9)));
	border-radius: 2;
	border-style: solid;
	border-width: 1;

	color: @selected_fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.7)),
		to (shade (@selected_bg_color, 0.7)));
	-unico-glow-radius: 0;
	-unico-glow-color: shade (@selected_bg_color, 1.3);
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 1.2)),
		to (shade (@selected_bg_color, 1.08)));
	-unico-inner-stroke-width: 1;
}

.rubberband {
	background-color: alpha (@selected_bg_color, 0.35);
	border-color: @selected_bg_color;
	border-radius: 0;
	border-style: solid;
	border-width: 1;
}

/***********
 * infobar *
 ***********/
.info {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@info_bg_color, 1.04)),
		to (shade (@info_bg_color, 0.96)));
	border-style: solid;
	border-width: 1;

	color: @info_fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@info_bg_color, 0.8)),
		to (shade (@info_bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@info_bg_color, 1.1)),
		to (shade (@info_bg_color, 1.04)));
	-unico-inner-stroke-width: 1;
}

.warning {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@warning_bg_color, 1.04)),
		to (shade (@warning_bg_color, 0.96)));
	border-style: solid;
	border-width: 1;

	color: @warning_fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@warning_bg_color, 0.8)),
		to (shade (@warning_bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@warning_bg_color, 1.1)),
		to (shade (@warning_bg_color, 1.04)));
	-unico-inner-stroke-width: 1;
}

.question {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@question_bg_color, 1.04)),
		to (shade (@question_bg_color, 0.96)));
	border-style: solid;
	border-width: 1;

	color: @question_fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@question_bg_color, 0.8)),
		to (shade (@question_bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@question_bg_color, 1.1)),
		to (shade (@question_bg_color, 1.04)));
	-unico-inner-stroke-width: 1;
}

.error {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@error_bg_color, 1.04)),
		to (shade (@error_bg_color, 0.96)));
	border-style: solid;
	border-width: 1;

	color: @error_fg_color;

	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@error_bg_color, 0.8)),
		to (shade (@error_bg_color, 0.75)));
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@error_bg_color, 1.1)),
		to (shade (@error_bg_color, 1.04)));
	-unico-inner-stroke-width: 1;
}



/************
 * treeview *
 ************/
GtkTreeView .entry {
	background-image: none;
	border-radius: 0;

	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1;
}

GtkTreeView row:nth-child(even),
GtkTreeView row:nth-child(even):hover {
	background-color: @treeview_even;
}

GtkTreeView row:nth-child(odd),
GtkTreeView row:nth-child(odd):hover {
	background-color: @treeview_odd;
}

/************
 * viewport *
 ************/
GtkViewport.frame {
	border-width: 0;
	-unico-inner-stroke-width: 0;
}
