/* 
	AUTHOR: Bisser Alexiev
	LICENSE: GPL / June 2012
	DESCRIPTION: BiSOFT-GTK3 unico GTK-3 based on Mint-Z theme
*/

/* === BiSOFT COLOR SCHEME === */
@define-color bg_color #D4D4D4;
@define-color fg_color #2C2C2C;
@define-color base_color #F5F5F5;
@define-color text_color #161616;
@define-color selected_bg_color #5599bb;  /*  => my blue-green */
@define-color selected_fg_color #FCFCFC;
@define-color tooltip_bg_color #353535;
@define-color tooltip_fg_color #F8F8F8;

/* other color schemes from the themes */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

@define-color menu_bg_color shade (@theme_bg_color, 1.1);
@define-color menu_fg_color shade (@theme_fg_color, 0.8);
@define-color menu_controls_color shade (@theme_fg_color, 0.9);
@define-color menu_combobox_border @selected_bg_color;
@define-color menu_separator shade (@theme_bg_color, 0.75);

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (181, 171, 156);
@define-color info_bg_color rgb (252, 252, 189);
@define-color warning_fg_color rgb (173, 120, 41);
@define-color warning_bg_color rgb (250, 173, 61);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (138, 173, 212);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (237, 54, 54);
@define-color link_color #1f72c6; /* #08c; */
@define-color frame_color #8a9580;
@define-color inactive_frame_color shade(@bg_color, 0.75);
@define-color warning_color #F57900;  /* orange */
@define-color error_color #FF0000;  /* RED */
@define-color success_color #4e9a06;  /* green ??? */

@define-color keyboard_focus_border_a #a2c9f1;
@define-color keyboard_focus_border_b #6794cf;

/* theme common colors */
@define-color button_bg_color shade (#cdcdcd, 1.05);
@define-color button_insensitive_bg_color mix (@button_bg_color, @bg_color, 0.6);
@define-color dark_bg_color #3f3f3f;
@define-color dark_fg_color #e0e0e0;
@define-color transparent rgba (0, 0, 0, 0);

/* panel colors */
@define-color toolbar_gradient_base #dcdcdc;
@define-color toolbar_gradient_final #d1d1d1;
@define-color toolbar_border #ccc;

@define-color button_gradient_color_a #fbfbfb;
@define-color button_gradient_color_b #bfbfbf;
@define-color button_border @selected_bg_color;
@define-color button_hover_gradient_color_a shade (@button_gradient_color_a, 1.10);
@define-color button_hover_gradient_color_b shade (#7bbcdb, 0.95);
@define-color button_active_gradient_color_a shade (@button_gradient_color_b, 0.75);
@define-color button_active_gradient_color_b shade (@button_gradient_color_a, 0.85);

@define-color button_raised_gradient_color_a @button_gradient_color_a;
@define-color button_raised_gradient_color_b @button_gradient_color_b;
@define-color button_raised_linked_shadow alpha(@theme_base_color, 0.70);
@define-color button_raised_active_gradient_color_a @button_active_gradient_color_a;
@define-color button_raised_active_gradient_color_b alpha(@button_active_gradient_color_b, 0.13);

@define-color progressbar_through_a #c7c7c7;
@define-color progressbar_through_b #d7d7d7;
@define-color progressbar_through_border #a3a3a3;
@define-color progressbar_background_a @selected_bg_color;
@define-color progressbar_background_b shade (@selected_bg_color, 1.25);
@define-color progressbar_border #286478;
@define-color progressbar_pattern #000000;

@define-color menuitem_background_a shade (@selected_bg_color, 1.25);
@define-color menuitem_background_b shade (@selected_bg_color, 0.85);

@define-color theme_border_color_a #afafaf;
@define-color theme_border_color_b #7a7a7a;
@define-color scrollslider_gradient_a @selected_fg_color;  /* #d8d8d8 */
@define-color scrollslider_gradient_b #7bbcdb;
@define-color scrollslider_border shade (@selected_bg_color, 1.25); /* #9a9a9a*/
@define-color listview_header_gradient_a #ececec;
@define-color listview_header_gradient_b #d8d8d8;
@define-color listview_border #cbcbcb;
@define-color sidebar_color #e8e8e8;

@define-color trough_bg_color_a #efefef;
@define-color trough_bg_color_b #e0e0e0;

@define-color focused_entry_border #579eea;
@define-color focused_entry_inset alpha (#d7e4f1, 0.50);

@define-color treeview_even #f8f8f8;
@define-color treeview_odd #e8e8e8;
@define-color treeview_focus_border @progressbar_border;

/* ===== OTHER colors ======== */
@define-color insensitive_bg_color #f4f4f2;
@define-color insensitive_fg_color #a7aba7;
@define-color insensitive_border_color shade (@internal_element_color, 1.37);

@define-color entry_text_color @theme_text_color;
@define-color entry_background_a #e1e1e1;
@define-color entry_background_b #f8f8f8;
@define-color entry_background_c #fafafa;
@define-color entry_background_d @theme_base_color;

@define-color internal_element_color #888a85;
@define-color internal_element_prelight @theme_text_color;
@define-color internal_element_insensitive shade (@internal_element_color, 1.6);

@define-color scale_fill @insensitive_border_color;
@define-color scale_border_a @internal_element_color;
@define-color scale_border_b shade (@internal_element_color, 1.25);
@define-color scale_progress_fill #2c85e2;
@define-color scale_progress_border_a #1864b2;
@define-color scale_progress_border_b #3e90e5;

@define-color highlighted_border #8a8f8a;

@define-color notebook_border #a6a6a6;
@define-color notebook_active_tab_border @selected_bg_color;
@define-color notebook_selected_tab_color @selected_bg_color;

@define-color notebook_tab_gradient_a @theme_bg_color; /* @theme_base_color; */
@define-color notebook_tab_gradient_b @switch_slider_color;

@define-color toolbar_gradient_base #aaaa9e;
@define-color toolbar_gradient_step1 #bcbcb4;
@define-color toolbar_gradient_step2 #d9d9d7;
@define-color toolbar_gradient_final #e5e5e2;

@define-color toolbar_border_top shade (@theme_bg_color, 0.56);
@define-color toolbar_border_bottom shade (@theme_bg_color, 0.83);

@define-color toolbar_active_button_color #909081;

@define-color primary_toolbar_entry_bg @theme_base_color;
@define-color primary_toolbar_entry_fg @theme_text_color;

@define-color expander_row_selected_color #acccee;

@define-color active_switch_bg_color_a @selected_bg_color;
@define-color active_switch_bg_color_b #76b0ec;
@define-color switch_slider_color #d0e7ff;
@define-color switch_slider_border @selected_bg_color;

@define-color os_chrome_bg_color black;
@define-color os_chrome_fg_color #fff;
@define-color os_chrome_selected_bg_color #333;
@define-color os_chrome_selected_fg_color white;

@define-color chrome_bg_color #1e1a17;
@define-color chrome_fg_color #fff;

@define-color wm_highlight #ffffff;
@define-color wm_title_highlight #ffffff;

@define-color wm_bg_a shade (@bg_color, 1.1);
@define-color wm_bg_b @bg_color;

@define-color wm_button_bg_a shade (@bg_color, 1.0);
@define-color wm_button_bg_b shade (@bg_color, 0.85);
@define-color wm_button_bg_c shade (@bg_color, 0.8);
@define-color wm_button_bg_d shade (@bg_color, 0.9);

@define-color wm_button_bg_hover_a shade (@wm_button_bg_a, 1.1);
@define-color wm_button_bg_hover_b shade (@wm_button_bg_b, 1.1);
@define-color wm_button_bg_hover_c shade (@wm_button_bg_c, 1.1);
@define-color wm_button_bg_hover_d shade (@wm_button_bg_d, 1.1);

@define-color wm_button_bg_active_a shade (@bg_color, 0.7);
@define-color wm_button_bg_active_b shade (@bg_color, 0.9);
@define-color wm_button_bg_active_c shade (@bg_color, 0.9);


/* ================ MAIN MODULE =============== */


/* default */
* {
	-GtkArrow-arrow-scaling: 0.6;
	-GtkButton-child-displacement-x: 1;
	-GtkButton-child-displacement-y: 1;
	-GtkButton-default-border: 0;
	-GtkButton-image-spacing: 0;
	-GtkButton-interior-focus: true;
	-GtkButton-inner-border: 1;
	-GtkCheckButton-indicator-size: 16;
	-GtkCheckMenuItem-indicator-size: 14;
	-GtkEntry-inner-border: 2;
	-GtkEntry-progress-border: 0;
	-GtkExpander-expander-size: 8;
	-GtkHTML-link-color: @link_color;
	-GtkIMHtml-hyperlink-color: @link_color;
	-GtkMenu-horizontal-padding: 0;
	-GtkMenu-vertical-padding: 0;  
	-GtkMenuBar-internal-padding: 0;
	-GtkMenuItem-arrow-scaling: 0.5;
	-GtkNotebook-tab-overlap: 1;
	-GtkPaned-handle-size: 1;
	-GtkProgressBar-min-horizontal-bar-height: 10;
	-GtkProgressBar-min-vertical-bar-width: 10;
	-GtkRange-trough-border: 1;
	-GtkRange-slider-width: 10;
	-GtkRange-stepper-size: 13;
	-GtkRange-trough-under-steppers: 1;
	-GtkRange-stepper-spacing: 0;
	-GtkScale-trough-border: 0;
	-GtkScrollbar-activate-slider: 1;
	-GtkScrollbar-trough-border: 0;
	-GtkScrollbar-min-slider-length: 31;
	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: 1;
	-GtkSeparatorMenuItem-horizontal-padding: 0;
	-GtkStatusbar-shadow-type: none;
	-GtkTextView-error-underline-color: @error_color;
	-GtkToolButton-icon-spacing: 6;
	-GtkToolItemGroup-expander-size: 11;
	-GtkToolbar-internal-padding: 0;
	-GtkTreeView-expander-size: 4;
	-GtkTreeView-vertical-separator: 0;
	-GtkWidget-wide-separators: true;
	-GtkWidget-separator-width: 2;
	-GtkWidget-separator-height: 2;
	-GtkWidget-focus-padding: 0;
	-GtkWidget-focus-line-width: 1;
	-GtkWidget-link-color: @link_color;
	-GtkWidget-visited-link-color: @link_color;
	-GtkWindow-resize-grip-default: false;
	-GtkWindow-resize-grip-width: 0;
	-GtkWindow-resize-grip-height: 0;
	-WnckTasklist-fade-overlay-rect: 0;
	border-width: 1;

      engine: unico;

	-unico-focus-border-color: alpha (@selected_bg_color, 0.5);
	-unico-focus-border-radius: 4; /* 3 */
	-unico-focus-fill-color: alpha (@selected_bg_color, 0.1);
	-unico-focus-outer-stroke-color: @transparent;

	-unico-inner-stroke-color: @transparent;
	-unico-inner-stroke-width: 0;
	-unico-outer-stroke-color: @transparent; 
	-unico-outer-stroke-width: 0;
}

/**********
 * states *
 **********/
*:insensitive {
	color: shade (@theme_bg_color, 0.6);
	text-shadow: 0 1 alpha (shade (@bg_color, 1.25), 0.5);
}

*:active {
	background-color: shade (@bg_color, 0.915); 
}

*:active:hover:insensitive {
}

*:active:insensitive {
}

*:hover {
/*    background-color: alpha (#77bbff, 0.15); */
/*    background-color: shade (@bg_color, 1.05); */
    color: @theme_fg_color;
}

*:hover:insensitive {
    background-color: shade (@bg_color, 0.8);
}

*:selected {
	background-color: @selected_bg_color;
	color: @selected_fg_color;
}

*:selected:focused {
	background-color: @selected_bg_color;
	color: @selected_fg_color;
}




/******************
 * common effects *
 ******************/
/* border and inner stroke */
.button {
	border-radius: 4;
}

.button,
.frame,
.notebook {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.65)),
		to (shade (@bg_color, 0.75)));
}

.frame,
.notebook {
	-unico-inner-stroke-color: alpha (shade (@theme_bg_color, 1.26), 0.2);
	-unico-inner-stroke-gradient: none;
	-unico-inner-stroke-width: 1;
}

.button:insensitive,
.frame:insensitive,
.notebook:insensitive {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@bg_color, 0.85)),
		to (shade (@bg_color, 0.75)));
}


/* inset */
GtkComboBox.combobox-entry .button,
.button:active,
.button:insensitive,
.check,
.entry,
.radio {
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.85), 0.2)),
		to (alpha (shade (@bg_color, 1.18), 0.6)));
	-unico-outer-stroke-width: 1;
}

/* shadow */
.button,
.check:active,
.frame,
.notebook .button,
.notebook,
.radio:active {
	-unico-outer-stroke-style: custom;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@theme_bg_color, 0.05), 0.05)),
		to (alpha (shade (@theme_bg_color, 0.05), 0.09)));
	-unico-outer-stroke-width: 1; 
}


/*************
 * assistant *
 *************/
GtkAssistant .sidebar .highlight {
	color: @fg_color;
	font: bold;
}

GtkAssistant .sidebar {
	background-color: shade (@bg_color, 0.97);
	border-right-color: shade (@bg_color, 0.8);
	border-radius: 0;
	border-style: solid;
	border-width: 0 1 0 0;
	padding: 12;

	color: mix (@fg_color, @bg_color, 0.40);
	text-shadow: 0 1 shade (@bg_color, 1.04);

	-unico-border-gradient: none;
	-unico-inner-stroke-right-color: shade (@bg_color, 0.94);
	-unico-inner-stroke-width: 0 1 0 0;
	-unico-outer-stroke-width: 0;
}

/**************
 * background *
 **************/
.background {
	background-color: @bg_color;
	border-width: 0;
}


/****************
 * cell and row *
 ****************/
.cell {
	border-radius: 0;
	border-width: 0;
}

.cell:selected {
}

row:hover {
}

row:insensitive {
}

row:selected:focused {
	border-width: 1 0 0 0;
	border-style: solid;
	border-color: @menuitem_background_b;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@menuitem_background_a, 1.00)),
		to (shade (@menuitem_background_b, 1.00)));
	background-color: @theme_selected_bg_color;
}

row:selected {
	border-width: 1 0 0 0;
	border-style: solid;
	border-color: @menuitem_background_b;
	background-image: -gtk-gradient (linear,
		left top, left bottom,
		from (shade (@menuitem_background_a, 1.00)),
		to (shade (@menuitem_background_b, 1.00)));
	background-color: @theme_selected_bg_color;
}


/********* ====================================================
 * entry *
 *********/
.entry {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@base_color, 0.96)),
		to (@base_color));
	border-top-color: shade (@bg_color, 0.64);
	border-right-color: shade (@bg_color, 0.76);
	border-bottom-color: shade (@bg_color, 0.82);
	border-left-color: shade (@bg_color, 0.76);
	border-radius: 2;
	border-style: solid;

	-unico-border-gradient: none;
	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.04)),
		to (alpha (shade (@bg_color, 0.05), 0.02)));
	-unico-inner-stroke-width: 1;
}

.entry:selected,
.entry:selected:focused {
	background-color: @selected_bg_color;
	color: @selected_fg_color;
}

.entry:focused {
	-unico-border-gradient: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.75)),
		to (shade (@selected_bg_color, 0.8)));
	-unico-inner-stroke-color: alpha (@selected_bg_color, 0.3);
	-unico-inner-stroke-gradient: none;
}

.entry:insensitive {
	background-color: shade (@bg_color, 0.96);
	background-image: none;

	-unico-inner-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.04)),
		to (alpha (shade (@bg_color, 0.05), 0.02)));
}

.primary-toolbar .toolbar .entry.progressbar,
.primary-toolbar.toolbar .entry.progressbar,
.entry.progressbar {
	background-image: -gtk-gradient (linear, left top, left bottom,
		from (shade (@selected_bg_color, 0.8)),
		color-stop (0.1, shade (@selected_bg_color, 0.9)),
		to (shade (@selected_bg_color, 1.1)));
	border-radius: 2;
	border-width: 0;

	color: @selected_fg_color;

	-unico-outer-stroke-width: 0;
}

/* ============= END OF MAIN MODULE =========== */



/* ============= Import Components ============ */
@import url("gtk-buttons.css");
@import url("gtk-check-radio.css");
@import url("gtk-combobox.css");
@import url("gtk-tree-iconview.css"); 
@import url("gtk-menus.css");
@import url("gtk-notebook.css");
@import url("gtk-progress-scale.css");
@import url("gtk-scrollbar.css");
@import url("gtk-sidebar-spin.css");
@import url("gtk-switch.css");
@import url("gtk-toolbar-tooltip.css");

/*============ Import some other Stuff ============ */
@import url("apps/gnome-panel.css");
@import url("apps/gnome-applications.css");
@import url("apps/nautilus.css");
@import url("apps/unity.css");
