/* Apps */

.icon-grid {
	spacing: 36px;
	-shell-grid-horizontal-item-size: 70px; /* was 118px */
	-shell-grid-vertical-item-size: 70px; /* was 118px */
}

.contact-grid {
    spacing: 36px;
    -shell-grid-item-size: 272px; /* 2 * -shell-grid-item-size + spacing */
}

.icon-grid .overview-icon {
    icon-size: 64px;
}

.all-app {
    padding: 16px 22px 16px 16px;
    spacing: 20px;
    font-size: 10pt;
    font-style: normal;
}

.all-app:rtl {
	padding-right: 16px;
	padding-left: 25px;
}


.all-app .icon-grid {
    padding: 15px 10px;
}


/*This section controls the app categories*/
.app-filter {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255,255,255,0.1);
    background-gradient-end: rgba(245,245,245,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0;
    color: #eee;
    font-size: 12pt;
    font-weight: normal;
    height: 25px;
    width: 120px;
    padding: 4px 0px 4px 15px ;
    margin-right: 0px;
    box-shadow: inset 1px 0px 0px 0px rgba(255,255,255,0.3);
    transition-duration: 250;
}

.app-filter:first-child{
    border-radius: 6px 0 0 0;
    border-bottom: transparent;
    border-right: 0;
    box-shadow: inset 2px 0px 0px 0px rgba(255,255,255,0.3);
    border-top: 1px;
}

.app-filter:last-child{
    border-radius: 0 0 0 6px;
    border-right: 0;
    border-top: 0px;
    border-bottom: 1px;
    box-shadow: inset 1px 0px 0px 0px rgba(255,255,255,0.3);
}
.app-filter:hover {
    background-gradient-direction: horizontal;
    background-gradient-end: rgba(255,255,255,0.10);
    background-gradient-start: rgba(255,255,255,0.50);
    border-right: 0;
    color: rgba(255,255,255,1);
    font-weight: bold;
}

.app-filter:hover:first-child{
    border-radius: 6 0 0 0;
}

.app-filter:hover:last-child{
    border-radius: 0 0 0 6px;
}

.app-filter:selected {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(170,170,170,0.95);
    background-gradient-start: rgba(245,245,245,0.95);
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 2px 2px 0px 0px rgba(255,255,255,0.2);
    color: rgba(0,0,0,0.85);
}

.app-filter:selected:first-child{
    border: 1px solid rgba(0,0,0,0.1);
}

.app-filter:selected:last-child{
    border-bottom: 1px;
    border-radius: 0 0 0 6px;
    border: 1px solid rgba(0,0,0,0.1);
}
/*End right categories*/



.dash-item-container > .app-well-app {
    padding: 5px 3px;
}

.remove-favorite-icon {
    color: #E6E6E6;
    icon-shadow: #000 0px -1px 0px;
}

.remove-favorite-icon:hover {
    color: #191919;
    icon-shadow: rgba(255,255,255,0.2) 0px 1px 0px;
}


.app-well-app > .overview-icon,
.remove-favorite > .overview-icon,
.search-result-content > .overview-icon {
    color: rgba(255,255,255,1.0);
    font: 8pt; /* 8 */
    padding: 4px;
    spacing: 10px;
    text-align: center;
    transition-duration: 200;
}


.app-well-app.running > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0.6);
    background-gradient-start: rgba(255,255,255,0.9);
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
    color: rgba(120,120,120,0.9);
    padding: 3px;
}

.contact:selected,
.app-well-app:selected > .overview-icon,
.search-result-content:selected > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0.1);
    background-gradient-start: rgba(255,255,255,0.5);
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.4);
    color: rgba(255,255,255,0.9);
    padding: 3px;
}

.app-well-app:hover > .overview-icon,
.remove-favorite:hover > .overview-icon,
.search-result-content:hover > .overview-icon {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0.1);
    background-gradient-start: rgba(255,255,255,0.5);
    border-radius: 6px;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgba(255,255,255,1.0);
    padding: 3px;

}

.contact:focus,
.app-well-app:focus > .overview-icon,
.search-result-content:focus > .overview-icon {
	box-shadow: inset 0px 6px 6px 0 rgba(0,0,0,0.3);
}

.app-well-app:active > .overview-icon {
	border: 1px solid rgba(255,255,255,0.3);
	background-color: rgba(255,255,255,0.4);
	box-shadow: inset 0px 1px 6px 1px rgba(0,0,0,0.5) ;
	border-radius: 6px;
	padding: 3px;
}

.app-well-menu {
    font-size: 12pt;
}

/*Contacts*/


.contact {
    width: 272px; /* Same width as two normal results + spacing */
    height: 118px; /* Aspect ratio = 1.75. Normal US business card ratio */
    border-radius: 6px;
    padding: 2px;
    border: 1px rgba(0,0,0,0.45);
    transition-duration: 200;
    background-color: rgba(255,255,255,0.2);
}

.contact-content {
    border-radius: 6px;
    padding: 15px;
    width: 232px;
    height: 84px;
    background-color: white;
    color: black;
    text-align: center;
}

.contact-icon {
  border-radius: 6px;
}

.contact-details {
  padding: 6px 8px 11px 8px;
}

.contact-details-alias {
  font-size: 18px;
  padding-bottom: 11px;
}

.contact-details-status {
  font-size: 10pt;
}

.contact-details-status-icon {
  padding-right: 2px;
}

.contact:hover {
    background-color: rgba(255,255,255,0.4);

}
