stage {
    font-family: "Droid Sans", cantarell, sans-serif;
}

/* links */
.shell-link {
	color: #0000ff;
	text-decoration: underline;
}

.shell-link:hover {
	color: #0000e0;
}

.label-shadow {
    color: rgba(8,8,8,0.5);
}

.label-real-shadow {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(8, 8, 8, 0);
    background-gradient-end: rgba(8, 8, 8, 255);
    width: 10px;
}

StScrollBar {
  padding: 0;
}

StScrollView.vfade {
  -st-vfade-offset: 68px;
}

StScrollView StScrollBar {
  min-width: 11px;
  min-height: 16px;
}


StScrollBar StBin#trough {
    background-color: transparent;
}

StScrollBar StButton#vhandle,
StScrollBar StButton#hhandle {
    background-gradient-direction: horizontal;
    background-gradient-end: rgba(255,255,255,0.15);
    background-gradient-start: rgba(255,255,255,0.65);
    border: 1px solid rgba(0,0,0,0.20);
    border-radius: 8px;
    transition-duration: 200;
}

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandle:hover {
    background-gradient-direction: horizontal;
    background-gradient-end: rgba(100,172,204,0.75);
    background-gradient-start: rgba(255,255,255,0.85);
}


StTooltip StLabel {
    border: 0;
    border-radius: 5px;
    padding: 4px;
    background-color: rgba(100,172,204,0.85);
    color: #fff;
    font-size: 0.85em;
    font-weight: normal;
    text-align: center;
}

