/* On-screen Keyboard */

#keyboard {
    background-gradient-start: rgba(255,255,255,0.95);
    background-gradient-end: rgba(255,255,255,0.9);
    background-gradient-direction: vertical;
}

.keyboard-layout {
    spacing: 15px;
    padding: 15px;
}

.keyboard-row {
    spacing: 10px;
}

.keyboard-key {
    min-height: 20px;
    min-width: 30px;
    background-gradient-start: rgba(255,255,255,0.75);
    background-gradient-end: rgba(255,255,255,0.45);
    background-gradient-direction: vertical;
    font-size: 15pt;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.95);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2) ;
    color: rgba(0,0,0,0.7);
	transition-duration: 250;

}

.keyboard-key:grayed {
   color: #808080;
   border-color: #808080;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background-gradient-start: rgba(255,255,255,0.98);
    background-gradient-end: rgba(255,255,255,0.55);
    background-gradient-direction: vertical;
    border: 1px solid rgba(0,0,0,0.4);
    color: rgba(0,0,0,0.8d);
	transition-duration: 250;
}

.keyboard-key:active {
    box-shadow: inset 0px 2px 3px 0px rgba(0,0,0,0.5);
}

.keyboard-subkeys {
    color: white;
    padding: 5px;
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
    -arrow-border-radius: 4px;
    -arrow-background-color: rgba(255,255,255,0.98);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(0,0,0,0.5);
}
