/* Message Tray */
#message-tray {
    border: 1px solid rgba(0,0,0,0.2);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(227,227,227,0.4);
    background-gradient-end: rgba(227,227,227,0.09);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
    height: 27px;
}

#notification {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0.7);
    background-gradient-start: rgba(255,255,255,0.85);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 4px 4px 0px 0px;
    border-bottom: 0px;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.98);
    color: rgba(0,0,0,0.8);
font-size: 10pt;
/*text-align: left; */
    padding: 4px 8px 4px 8px;
    spacing-columns: 10px;
    spacing-rows: 10px;
    width: 35em;
}

#notification.multi-line-notification {
    padding-bottom: 10px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
   taken into account during allocation, so its height ends up being limited by the height
   of the content in the other rows. To avoid showing a stretched image, we set the minimum
   height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
    min-height: 159px;
}

.summary-boxpointer {
    -arrow-border-radius: 4px;
    -arrow-background-color: rgba(255,255,255,0.85);
    -arrow-border-width: 1px;
    -arrow-border-color: rgba(0,0,0,0.5);
    -arrow-base: 15px;
    -arrow-rise: 7px;
}

.summary-boxpointer #notification {
    background-gradient-direction: vertical;
    background-gradient-end: rgba(255,255,255,0);
    background-gradient-start: rgba(255,255,255,0);
    box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0);
    border: 0;
}

.summary-boxpointer #summary-right-click-menu {
    padding: 5px;
}

#summary-notification-stack-scrollview {
    max-height: 18em;
    padding-top: 6px;
    padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
    height: 1em;
}

#summary-notification-stack-scrollview:ltr {
    padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
    padding-left: 8px;
}

#notification-scrollview {
    max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
    height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
    padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
    padding-right: 6px;
}

#notification-body {
    spacing: 5px;
}

#notification-actions {
    spacing: 10px;
}

.notification-button {

    padding: 4px 42px 5px;
}

.notification-button:focus {
    padding: 3px 41px 4px;
}

.notification-icon-button {
    border-radius: 4px;
    padding: 5px;
}

.notification-icon-button:focus {
    padding: 4px;
}

.notification-icon-button > StIcon {
    icon-size: 24px;
}

/*Hotplug*/

.hotplug-transient-box {
    spacing: 6px;
    padding: 2px 30px 0px 10px;

}

.hotplug-notification-item {
    padding: 5px 2px;
}

.hotplug-notification-item:focus {
    padding: 1px 23px 1px 11px;
}

.hotplug-notification-item-icon {
    icon-size: 16px;
    padding: 0px 5px;
}

.hotplug-resident-box {
    spacing: 4px;
}

.hotplug-resident-mount {
    spacing: 4px;
    color: rgba(0,0,0,0.8);
    border: 1px transparent;
}

.hotplug-resident-mount:hover {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(245,245,245,0.1);
    background-gradient-end: rgba(248,248,248,0.7);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    box-shadow: inset 1px 1px 0px 0px rgba(255,255,255,0.9);
}

.hotplug-resident-mount-label {
    color: inherit;
    padding-left: 10px;
}

.hotplug-resident-mount-icon {
    icon-size: 24px;
    padding-left: 10px;
}

.hotplug-resident-eject-icon {
    icon-size: 24px;
}


/*Chat*/
.chat-log-message {
    color: #888888;
}

.chat-group-sent, .chat-group-meta {
    padding: 8px 0;
}

.chat-received {
    color: rgba(0,0,0,0.96);
    font-size: 12pt;
    padding-left: 4px;
    padding-top: 10px;
}

.chat-sent {
    color: rgba(0,0,0,0.8);
    font-size: 11pt;
    padding-left: 18pt;

}

.chat-received:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.chat-sent:rtl {
    padding-left: 0px;
    padding-right: 18pt;
}

.chat-meta-message {
    padding-left: 4px;
    border-radius: 4px;
    font-size: 10pt;
    color: rgba(0,0,0,0.8);
}

.chat-meta-message:rtl {
    padding-left: 0px;
    padding-right: 4px;
}

.subscription-message {
    font-style: italic;
    color: rgba(0,0,0,0.8);
}



#notification StEntry {
    padding: 4px;
    border-radius: 4px;
    color: #a8a8a8;
    selected-color: black;
	color: rgba(0,0,0,0.65);
    border: 1px solid rgba(0,0,0,0.4);
    background-gradient-direction: vertical;
    background-gradient-start: rgba(200,200,200,0.04);
    background-gradient-end: rgba(255,255,255,0.8);
    caret-color: rgba(0,0,0,0.1);
}

#notification StEntry:focus {
    border: 1px solid #8b8b8b;
    color: #333333;
    background-gradient-direction: vertical;
    background-gradient-start: rgb(200,200,200);
    background-gradient-end: white;
    caret-color: #545454;
    selection-background-color: #808080;
}

/* The spacing and padding on the summary is tricky; we want to keep
 * the icons from touching each other or the edges of the screen, but
 * we also want them to be "Fitts"-y with respect to the edges, so the
 * summary area's bottom and right padding must actually be part of
 * the icons. However, we can't put *all* of the padding into the
 * icons, because then the summary would be 0x0 when there were no
 * icons in it, and so you wouldn't be able to hover over it to
 * activate it.
 *
 * Also, the spacing between a summary-source's icon and title is
 * actually specified as padding-left in source-title, because we
 * want the spacing to collapse along with the title.
 */
#summary-mode {
    padding: 1px 0px 6px 15px;
    background-color: rgba(255,255,255,0.8);
    color: rgba(255,255,255,0.9);
    box-shadow: inset 3px 0px 5px 0px rgba(0,0,0,0.5);
    border: 1px solid rgba(0,0,0,0.2);
    border-right: 0px;
    border-left: 1px;
    border-bottom: 0px;
    border-radius: 0 0 0 4px;
}

#summary-mode:rtl {
    padding: 2px 4px 0px 0px;
}

.summary-source-button {
    color: rgba(0,0,0,0.85);
    padding-bottom: 1em;

}

.summary-source-button:ltr {
    padding-right: 12px;
}

.summary-source-button:selected .summary-source {
}

.summary-source-button:expanded:selected .summary-source {
    background-image: none;
    border-image: none;
}

.summary-source-button:expanded:selected {
}

.summary-source-button:rtl {
    padding-left: 12px;
}

.summary-source-button:last-child:ltr {
    padding-right: 12px;
}

.summary-source-button:last-child:rtl {
    padding-left: 12px;
}

.summary-source {
    padding-right: 4px;
    padding-left: 4px;

}

.summary-source-counter {
    color: white;
    background-color: black;
    font-size: 10pt;
    border-radius: 1em;
    min-height: 1em;
    min-width: 1em;
    padding: .1em;
}

.source-title {
    font-size: 11pt;
    padding-left: 4px;
    text-shadow: rgba(255,255,255,0.7) 0 1px 0;
}

.source-title:rtl {
    padding-left: 0px;
    padding-right: 4px;
}
