#panel .message-button {

}

#panel .message-label {
    text-align: center;
    color: rgba(255,255,255,0.98);
    text-shadow: rgba(0,0,0,0.3) 0px 1px 0px;
    padding: 1px 6px;
    border: 1px  rgba(0,0,0,0.15);
    background-color: rgba(255,255,255,0.3);
    box-shadow:  inset 0px -1px 0px 0px rgba(255,255,255,0.15);
    border-radius: 4px;
}
