/* Panel */

#panel {
    color: #fff;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(8,8,8,0.85);
    background-gradient-end: rgba(8,8,8,0.35); 
    box-shadow: inset 0 -2px 2px 0 rgba(8,8,8,0.15);
     border: 1px solid rgba(255,255,255,0.25);
     border-left: 0px;
     border-right: 0px;
     border-top: 0px;
     border-bottom: 1px;
     font-size: 10pt; 
     font-weight: bold;
     height: 26px; 
}

#panelLeft, #panelCenter {
    spacing: 4px;
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 4px;
}

#panelRight:rtl {
    padding-right: 4px;
}

#workspaceSwitcher {
    spacing: 1px;
    padding: 3px;    
}

.workspace-button {
    width: 20px;
    height: 10px;   
    color: #ccc;    
    transition-duration: 150;
    border: 1px;
    border-radius: 4px;
    padding: 2px;
}

.workspace-button:outlined {
    padding: 2px;    
    color: white;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(8,8,8,0.85);
    background-gradient-end: rgba(8,8,8,0.35);
    box-shadow: inset 0 2px 1px 0 rgba(8,8,8,0.45);
}

.workspace-button:hover {
    width: 20px;
    height: 10px;   
    color: #000;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.75);
    background-gradient-end: rgba(255,255,255,0.10); 
    box-shadow: inset 0 -2px 2px 0 rgba(8,8,8,0.36);
    transition-duration: 100;
    border: 1px;
}

.panel-status-button {
    border: 1px solid rgba(255,255,255,0);   
    -natural-hpadding: 5px;
    -minimum-hpadding: 5px;
    font-weight: bold;
    color: #ddd;    
    height: 22px;        
}

.panel-status-button:hover {
    color: white; 
    transition-duration: 250;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(55,55,55,0);
    background-gradient-end: rgba(255,255,255,0.45);
    box-shadow: inset 0px 2px 1px 0px rgba(255,255,255,0.5);
    border-radius: 3px;
}

.panel-status-button:active,
.panel-status-button:overview,
.panel-status-button:focus {
    color: white; 
    transition-duration: 250;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(55,55,55,0);
    background-gradient-end: rgba(255,255,255,0.45);
    box-shadow: inset 0px 2px 1px 0px rgba(255,255,255,0.5);
    border-radius: 3px;
    text-shadow: black 0px 2px 2px;
}

.system-status-icon {
	padding-left: 0px;
	padding-right: 0px;	
	spacing: 0px;
	margin: 0px;
        icon-size: 1.25em;
}

.panel-corner {
    transition-duration: 300;
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
    -panel-corner-inner-border-color: rgba(255,255,255,0.8);
}

#appMenu {
    spacing: 4px;
}

.panel-button #appMenuIcon {
    width: 22px;
    height: 22px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
    width: 22px;
    height: 22px;
}

.app-menu-icon {
    width: 22px;
    height: 22px;
}

.panel-menu {
    -boxpointer-gap: 4px
}

#panelUserMenu {
    spacing: 4px;
}

.status-chooser {
    spacing: .4em;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
    padding: .4em;
}

.status-chooser-user-icon {
    border: 1px solid #666;
    border-radius: 3px;
    width: 24pt;
    height: 24pt;
}

.status-chooser-user-icon:hover {
    border: 1px solid #999;
}

.status-chooser-user-name {
    font-weight: bold;
    font-size: 1em;
    min-width: 100pt;
}

.status-chooser-combo {
    border: 1px solid transparent;
}

.status-chooser-combo.popup-combo-menu {
    color: #fff;
    background-color: rgba(0,0,0,0.72);
    border: 1px solid rgba(0,0,0,0.21);
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.33);
    padding: .4em 0em;
    border-radius: 3px;
    font-size: 9pt;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
    spacing: .4em;
}


/* Replaces the activities text with a custom image. Height and width should use the same size as the image file. */
#panelActivities {
    border: none;
    background-image: url("img/apple.svg");
    background-position: 0 2;
    width: 22px;
    height: 22px;
    color: rgba(0,0,0,0.0);
}

#panelActivities:hover {
    transition-duration: 200;
    background-image:  url("img/apple-dimmed.svg");
    background-gradient-direction: vertical;
    background-gradient-start: rgba(140,200,255,0.0);
    background-gradient-end: rgba(61,149,231,0.0);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.0);
}
#panelActivities:active,
#panelActivities:overview {
    background-image:  url("img/apple-pressed.svg");
    background-gradient-direction: vertical;
    background-gradient-start: rgba(140,200,255,0.0);
    background-gradient-end: rgba(61,149,231,0.0);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.0);
}


