/* PopupMenu */

.popup-menu-boxpointer {
    -arrow-border-radius: 8px;
    -arrow-background-color: rgba(18,18,18,0.88);
    -arrow-border-width: 2px;
    -arrow-border-color: rgba(20,110,150, 0.65);
    -arrow-base: 20px;
    -arrow-rise: 10px;
    padding: 2px 0px 0px 2px;
}

.popup-menu {
    font-family:  cantarell, sans-serif;
    color: #eee;
    font-size: 10pt;
    min-width: 150px;
    border-radius: 6px;
    padding-top: 2px;
}

.popup-submenu-menu-item:open {
    background-color: rgba(0,0,0,0.35);
}

.popup-sub-menu {
        background-color: #606060;
}

.popup-combo-menu {
    color: white;
    background-color: rgba(8,8,8,0.55);
    border: 1px solid rgba(8,8,8,0.25);
    box-shadow: 0 0 2px 3px rgba(0,0,0,0.35);
    padding: 1em 0em;
    font-size: 10pt;
    border: 1px solid #333;
    border-radius: 4px;
}


.popup-menu-content {
    padding: 1em 0em;
}

.popup-menu-item {
    color: rgba(213,213,213,0.85);
    font-size: 10pt;
    padding: 0.5em 1.5em;
    spacing: 1em;
    border: 1px transparent;
}

.popup-menu-item:active {
    color: white;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.45);
    background-gradient-end: rgba(55,55,55,0.15);
    box-shadow: inset 0px 0px 1px 1px rgba(255,255,255,0.15);
    border-radius: 6px;
}


.popup-image-menu-item {
}


.popup-separator-menu-item {
    -gradient-height: 2px;
    -gradient-start: rgba(255,255,255,0);
    -gradient-end: rgba(255,255,255,0.6);
    -margin-horizontal: 1.5em;
    height: 0.6em;
}

.popup-alternating-menu-item:alternate {
    font-weight: bold;
}

.popup-slider-menu-item {
    color: rgba(20,110,150, 0.75);
    height: 1em;
    min-width: 15em;
    -slider-height: 0.3em;
    -slider-background-color: rgba(180,180,180, 0.65);
    -slider-border-color: rgba(8,8,8,0);
    -slider-active-background-color: rgba(27,150,204,0.95);
    -slider-active-border-color: rgba(72,72,72,0.33);
    -slider-border-width: 1px;
    -slider-handle-radius: 0.5em;
}

.popup-device-menu-item {
    spacing: .5em;
}

.popup-inactive-menu-item {
    font-weight: normal;
    color: #999;
}

.popup-subtitle-menu-item {
    font-weight: bold;
}

.popup-menu-icon {
    icon-size: 1.14em;
}


/* Switches (to be used in menus) */
.toggle-switch {
    width: 64px;
    height: 22px;
}

.toggle-switch-us {
    background-image: url("img/off.svg");
}
.toggle-switch-us:checked {
    background-image: url("img/on.svg");
}

.toggle-switch-intl {
    background-image: url("img/off.svg");
}
.toggle-switch-intl:checked {
    background-image: url("img/on.svg");
}

.nm-menu-item-icons {
    spacing: .5em;
}
