
/* Workspace Switcher */
.workspace-switcher-group {
    padding: 12px;
}

.workspace-switcher-container {
    padding: 10px 20px 10px 20px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.6);
    background-gradient-end: rgba(255,255,255,0.4);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 6px;
    padding: 20px;
}

.workspace-switcher {
    padding: 10px 20px 10px 20px;
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255,255,255,0.9);
    background-gradient-end: rgba(255,255,255,0.8);
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 6px;
    padding: 4px;
    spacing: 8px;
    box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.6);
}

.ws-switcher-active-up {
	border: 1px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.8);
	border-radius: 6px;
    box-shadow:  0px 1px 0px 0px rgba(255,255,255,0.7);
}

.ws-switcher-active-down {
	border: 1px rgba(0,0,0,0.2);
	border-radius: 6px;
	background-color: rgba(255,255,255,0.8);
    box-shadow:  0px 1px 0px 0px rgba(255,255,255,0.7);
}

.ws-switcher-box {
    height: 110px;
    background: rgba(0,0,0,0.1);
    box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.4);
    border: 1px rgba(255,255,255,0.2);
    border-radius: 6px;
}
