{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt-get install -y software-properties-common
sudo add-apt-repository -y ppa:aos1/diff-so-fancy
sudo add-apt-repository ppa:neovim-ppa/unstable -y
sudo add-apt-repository -y universe

curl -sSL https://ngrok-agent.s3.amazonaws.com/ngrok.asc \
  | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null \
  && echo "deb https://ngrok-agent.s3.amazonaws.com buster main" \
  | sudo tee /etc/apt/sources.list.d/ngrok.list

sudo apt update


{{ range .packages.ubuntu.pkgs -}}
    sudo apt install -y {{ . | quote }}
{{ end -}}

rustup default stable
{{ range .packages.ubuntu.rustpkgs -}}
    cargo install --locked {{ . | quote }}
{{ end -}}
{{ end -}}

if [ ! -d "${ZDOTDIR:-$HOME}/.zprezto" ]; then
  echo "Warning: Prezto directory not found at ${ZDOTDIR:-$HOME}/.zprezto"
  git clone --recursive https://github.com/sorin-ionescu/prezto.git "${ZDOTDIR:-$HOME}/.zprezto"
fi

if command -v granted >/dev/null 2>&1; then
  echo "Granted is already installed"
else
  wget -O- https://apt.releases.commonfate.io/gpg | sudo gpg --dearmor -o /usr/share/keyrings/common-fate-linux.gpg
  echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/common-fate-linux.gpg] https://apt.releases.commonfate.io stable main" | sudo tee /etc/apt/sources.list.d/common-fate.list
  sudo apt update
  sudo apt install granted
fi

if command -v claude >/dev/null 2>&1; then
   echo "claude is already installed"
else
  curl -fsSL https://claude.ai/install.sh | bash -s latest
fi
