{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo add-apt-repository ppa:aos1/diff-so-fancy
sudo apt update

{{ range .packages.ubuntu.pkgs -}}
    sudo apt install -y {{ . | quote }}
{{ end -}}
{{ end -}}

