{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt-get install -y software-properties-common
sudo add-apt-repository -y ppa:aos1/diff-so-fancy
sudo add-apt-repository -y universe

curl -sSL https://ngrok-agent.s3.amazonaws.com/ngrok.asc \
  | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null \
  && echo "deb https://ngrok-agent.s3.amazonaws.com buster main" \
  | sudo tee /etc/apt/sources.list.d/ngrok.list

sudo apt update


{{ range .packages.ubuntu.pkgs -}}
    sudo apt install -y {{ . | quote }}
{{ end -}}

rustup default stable
{{ range .packages.ubuntu.rustpkgs -}}
    cargo install --locked {{ . | quote }}
{{ end -}}
{{ end -}}

if [ ! -d "${ZDOTDIR:-$HOME}/.zprezto" ]; then
  echo "Warning: Prezto directory not found at ${ZDOTDIR:-$HOME}/.zprezto"
  git clone --recursive https://github.com/sorin-ionescu/prezto.git "${ZDOTDIR:-$HOME}/.zprezto"
fi