################################
#      STYLE FOR POSTLER       #
################################

style "postler-main"
{
    GtkPaned::handle-size = 0
}

style "postler-treeview" = "default"
{	
    base[ACTIVE]    = shade (0.98, @bg_color)
    base[SELECTED]  = shade (0.98, @bg_color)

    text[ACTIVE]    = shade (1.35, @text_color)
    text[SELECTED]  = shade (1.35, @text_color)

    engine "murrine"
    {
        gradient_shades = {1.00,0.94,0.93,0.85}
        textstyle       = 1
        listviewstyle   = 0
    }
}

style "postler-messages" = "postler-treeview"
{	
    GtkTreeView::vertical-separator = 18
    GtkTreeView::odd_row_color      = shade (0.95, @base_color)
    GtkTreeView::even_row_color     = shade (0.98, @base_color)
}

style "postler-compose-scrolled"
{
    xthickness = 0

    engine "murrine" 
    {
        contrast = 0.8
    }
}

widget_class "*Postler*" style "postler-main"
widget_class "*Postler*GtkHPaned" style "pixmap_paned"
widget_class "*Postler*GtkVPaned" style "pixmap_paned"
widget_class "*Postler*.<GtkTreeView>*" style "postler-treeview"
widget_class "*Postler*PostlerMessages*" style "postler-messages"
widget_class "*PostlerComposer*Scrolled*" style "postler-compose-scrolled"
widget_class "*PostlerComposer*Toolbar" style:highest "toolbar"
widget_class "*PostlerComposer*Toolbar*<GtkButton>" style:highest "notebook_button"
widget_class "*PostlerComposer*Toolbar*<GtkButton>*<GtkLabel>" style:highest "default"
widget_class "*Postler*<GtkToolbar>*<GtkEntry>"       style "dark_toolbar_entry"
widget_class "*Dexter*<GtkToolbar>*<GtkEntry>"       style "dark_toolbar_entry"
