# This is Git's per-user configuration file.
[user]
	name = Kyle R Wenholz
    email = kyle@krwenholz.com
[credential "https://github.com"]
    # cache password for a week at a time
    helper = cache --timeout=604800
[credential "https://git-codecommit.us-east-1.amazonaws.com"]
	helper = !aws --profile default codecommit credential-helper $@
	UseHttpPath = true
[core]
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[credential]
	helper = cache --timeout=3600
