[Desktop Entry]
Name=IntelliJ
Type=Application
Terminal=true
Exec=/opt/intellij-ue-stable/bin/intellij-ue-launcher.sh
Icon=HOME/Pictures/intellij.svg
