global !p
from vimsnippets import get_comment_format
endglobal

snippet bow
cool story bro
endsnippet

snippet todo "TODO(user): foobar <datetime>"  bw
`!p snip.rv=get_comment_format()[0]` TODO(`git config --get user.email | sed -E 's/@.*//'`): $0
endsnippet

priority -1
snippet todo* "TODO(user): foobar <datetime>"
TODO(`git config --get user.email | sed -E 's/@.*//'`): $0
endsnippet
